body {
  background-color: #263348;
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  background-color: #1c2a3a;
  width: 30%;
  margin: 30px 35%;
  border-radius: 20px;
  padding-top: 25px;
  box-shadow: rgba(184, 184, 184, 0.1) 0px 0px 16px;}

.todo-app h2 {
  color: #fff;
  font-size: 32px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 20px 0; /* Adjusted padding */
}

.input {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  width: 70%;
  border-radius: 5px 0 0 5px;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #263348;
  color: white;
}

.btn:hover {
  background-color: #2d4866;
}

.list-container {
  background-color: #1c2a3a;
  border-radius: 8px;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px; /* Adjusted padding */
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin-bottom: 6px;
}

.delete-btn {
  background-color: #263348;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  margin-left: 10px;
}

.delete-btn:hover {
  background-color: #2d4866;
}

.no-tasks-message {
  color: #8d8c8c;
  text-align: center;
}