body {
  background-color: #263348;
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  background-color: #1c2a3a;
  width: 30%;
  margin: 30px 35%;
  border-radius: 20px;
  padding-top: 25px;
}

.todo-app h2 {
  color: #fff;
  font-size: 30px;
  font-family: montserrat;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0; /* Adjusted padding */
}

.input {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  width: 70%;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: #1289a7;
  color: white;
}

.btn:hover {
  background-color: #2d4866;
}

.list-container {
  background-color: #1c2a3a;
  border-radius: 8px;
  width: 70%;
  margin-top: 20px;
  padding: 10px; /* Adjusted padding */
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #334a5e;
  border-radius: 4px;
}

.list-item:hover {
  background-color: #446b89;
}

.delete-btn {
  background-color: #e84118;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  margin-left: 10px;
}